/* This is a comment in CSS            */
/* CSS defines formatting for the page */
/* The general format: selector {
                                  css rule;
                                  css rule;
                                }
*/  
/* for now we use html tags as selectors */

html { /* style all the elements within the html tag */
    background-color: pink;
    color:rgb(184, 0, 77);
    font-size: 24px;
    text-align: center;
}

header{
    background-color: rgb(150, 0, 72);
    color: rgb(94, 255, 0);
    font-size: 28px;
    text-align: center;
}

#p2 {
  background-color: aliceblue;
}

ol{
  color:blueviolet
  border-style: solid;
  border-color: black;
}

footer{
  font-size: 15px;
  margin-top: 50px; <*!-- adds space above the footer --*>
}